include ../button/button.pug
include ../nav-menu/nav-menu.pug
include ../sub-header/sub-header.pug

mixin header-minimized(options = {})

  - const { modifier = 'registered' } = options
  - const menuItems = require("../../components/header/menu-items.json");

  .header-minimized
    .header-minimized__container
      .header-minimized__content
        .header-minimized__nav-menu
          .header-minimized__logo
            img.logo__img(src=require('../../components/header-minimized/minimized-logo.svg') alt='logo')
          .header-minimized__menu.js-header-minimized__menu
            +nav-menu({menuItems})

        .header-minimized__user-block
          if modifier === 'registered'
            .header-minimized__user-profile
              +button({
                style: 'withIcon',
                icon: 'profile',
                name: 'button',
                text: '',
                type: 'button'
              })
            .header-minimized__user-basket
              +button({
                style: 'withIconAndText',
                icon: 'basket',
                name: 'button',
                text: '12 000 руб.',
                type: 'button'
              })

      .header-minimized__sub-header.js-header-minimized__sub-header
        +sub-header()









