mixin nav-menu(options = {})
  - const { menuItems } = options

  nav.nav-menu.js-nav-menu
    ul.nav-menu__list
      each item in menuItems
        - const { title, link, submenu } = item
        li.nav-menu__item
          a.nav-menu__link.js-nav-menu__link(href = link)= title
