mixin logo(options = {})
  - 
    const { size = 'big' } = options;

    const sizeModifiers = {
      small: 'logo_size_small',
      big: 'logo_size_big'
    }

    const classes = [
      sizeModifiers[size],
    ]

  .logo(class = classes)
    img.logo__img(src='../../components/logo/big-logo.svg' alt='logo')

