@import "../../fonts";
@import "../../variables";
@import "../../global";
@import "@Components/logo/logo";
@import "@Components/button/button";
@import "@Components/header/header";
@import "@Components/sub-header/sub-header";
@import "@Components/header-minimized/header-minimized";
@import "@Components/nav-menu/nav-menu";
@import "@Components/main-gallery/main-gallery";
@import "@Components/advantages/advantages";
@import "@Components/product-card/product-card";
@import "@Components/present-card/present-card";
@import "@Components/product-card-ads/product-card-ads";
@import "@Components/products-slider/products-slider";
@import "@Components/footer/footer";

.home {
  flex: 1 0 auto;

  &__gallery {
    @media (max-width: 830px) {
      padding-top: 101px;
    }
  }

  &__advantages {
    @include reveal-on-scroll-animation-start;
    position: relative;
    max-width: 1588px;
    margin: 0 auto;
    padding-right: 155px;
    padding-left: 155px;

    &::after {
      position: absolute;
      width: calc(100% - 310px);
      height: 1px;
      background-color: #caced2;
      content: "";
      @media (max-width: 1000px) {
        width: calc(100% - 240px);
      }
      @media (max-width: 768px) {
        width: calc(100% - 48px);
      }
    }
    @media (max-width: 1000px) {
      padding-right: 120px;
      padding-left: 120px;
    }
    @media (max-width: 768px) {
      padding: 0 24px;
    }
  }

  &__new-products {
    position: relative;
    max-width: 1588px;
    margin: 0 auto;
    padding-top: 48px;
    padding-right: 155px;
    padding-left: 155px;

    &::after {
      position: absolute;
      width: calc(100% - 310px);
      height: 1px;
      background-color: #caced2;
      content: "";
      @media (max-width: 1000px) {
        width: calc(100% - 240px);
      }
      @media (max-width: 768px) {
        width: calc(100% - 48px);
      }
    }
    @media (max-width: 1000px) {
      padding-right: 120px;
      padding-left: 120px;
    }
    @media (max-width: 768px) {
      padding: 24px 24px 0;
    }

    &_visible {
      @include reveal-on-scroll-animation-finish;
    }
  }

  &__special-offers {
    position: relative;
    max-width: 1588px;
    margin: 0 auto;
    padding-top: 48px;
    padding-right: 155px;
    padding-left: 155px;

    &::after {
      position: absolute;
      width: calc(100% - 310px);
      height: 1px;
      background-color: #caced2;
      content: "";
      @media (max-width: 1000px) {
        width: calc(100% - 240px);
      }
      @media (max-width: 768px) {
        width: calc(100% - 48px);
      }
    }
    @media (max-width: 1000px) {
      padding-right: 120px;
      padding-left: 120px;
    }
    @media (max-width: 768px) {
      padding: 24px 24px 0;
    }
  }

  &__present {
    margin-top: 56px;
    padding-bottom: 48px;
    @include reveal-on-scroll-animation-start;

    @media (max-width: 1450px) {
      margin-right: -155px;
      margin-left: -155px;
    }
    @media (max-width: 1000px) {
      margin-right: -120px;
      margin-left: -120px;
    }

    @media (max-width: 768px) {
      margin-top: 40px;
      margin-right: 0;
      margin-left: 0;
      padding-bottom: 40px;
    }
  }

  &__products {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
    @include reveal-on-scroll-animation-start;
    margin-bottom: 56px;
    @media (max-width: 768px) {
      flex-direction: column;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  &__products-item {
    flex-basis: 50%;
    flex-grow: 1;

    &:first-child {
      margin-right: 32px;
      @media (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 40px;
      }
    }
  }

  &__products-slider {
    @include reveal-on-scroll-animation-start;
  }

  &__any {
    position: relative;
    max-width: 1588px;
    margin: 0 auto;
    padding-top: 48px;
    padding-right: 155px;
    padding-left: 155px;

    &::after {
      position: absolute;
      width: calc(100% - 310px);
      height: 1px;
      background-color: #caced2;
      content: "";
      @media (max-width: 1000px) {
        width: calc(100% - 240px);
      }
      @media (max-width: 768px) {
        width: calc(100% - 48px);
      }
    }
    @media (max-width: 1000px) {
      padding-right: 120px;
      padding-left: 120px;
    }
    @media (max-width: 768px) {
      padding: 24px 24px 0;
    }
  }

  &_animated-element-visible {
    @include reveal-on-scroll-animation-finish;
  }
}
