mixin footer(options = {})
  footer.footer
    .footer__container 
      .footer__contacts-block
        .footer__contacts
          a(href='tel:+79857661289').footer__phone +7 985 766 12 89
          button.footer__button-call Обратный звонок
          button.footer__button-whatsapp WhatsApp
          a(href='mailto:info@tonkaperfumes.ru').footer__button-email info@tonkaperfumes.ru
        ul.footer__menu 
          li.footer__menu-item
            a.footer__link(href="https://www.mock-link.com/") Электронный каталог
          li.footer__menu-item
            a.footer__link(href="https://www.mock-link.com/") Доставка
      .footer__address-block
        p.footer__address Москва, Рочдельская улица, 15с8, кабинет 301
        p.footer__working-hours Часы работы шоурума: Пн-Пт 10:00 - 18:00
      p.footer__copyright © Tonka Perfumes Moscow 2020

