$primary-color: #3c3c3c;
$transition: all 0.3s ease-in-out;
$font-family: "Futura PT", "Arial";

@mixin reveal-on-scroll-animation-start {
  transform: translateY(50px);
  opacity: 0;
  transition: all 1s ease-in-out;
}

@mixin reveal-on-scroll-animation-finish {
  transform: translate3d(0, 0, 0); // specially for Safari
  opacity: 1;
}
